<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
    <title>HomePage</title>
</head>
<body>
    <div class="links">
        <a href = "/logreg">Login/Register</a>
    </div>
    <div class="title">
        <h1>FOODIES ADVENTURE</h1>
    </div>
    <div class="body">
        <div class="imagebox">
            <p>Input image here...</p>
        </div>
        <div class="textbox">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque repellat assumenda ullam aperiam sit natus consectetur nobis expedita dolore tenetur? Officiis minima voluptas quasi ullam soluta nemo alias nihil cum!</p>
        </div>
    </div>
</body>
</html>