<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
    <title>HomePage</title>
</head>
<body>
    <div class="links">
        <a href = "/logreg">Login/Register</a>
    </div>
    <div class="title">
        <h1>FOODIES</h1>
        <h1 class="adventure">ADVENTURE</h1>
    </div>
    <div class="body">
        <div class="imagebox">
            <img  class = "homescreen" src="{{ url_for('static', filename='img/mochi.jpg') }}">
        </div>
        <div class="textbox">
            <p>Sign in or register to start your list of amazing foods you've tried around the world!</p>
        </div>
    </div>
</body>
</html>