<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile_page.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Profile Page</title>
</head>
<body>
    <h2 class="title">FOODIES<span>ADVENTURE</span></h2>
    <div class="banner">
        <a href="/dashboard">Dashboard</a>
        <a href="/food/new">New Food?</a>
        <a href = "/logout">Logout</a>   
    </div>
    <h2>{{user.username}}'s Entries</h1> 
    {% with messages = get_flashed_messages(category_filter =['foods']) %}
    {% if messages %}
        <p style="color:red ;">Something went wrong....</p>                            
        {% for message in messages %}            
            <p>{{message}}</p>                   
        {% endfor %}
    {% endif %}
    {% endwith %} 
    <table class="table table-striped">
        <tr>
            <th scope="col">State</th>
            <th scope="col">Restaraunt</th>
            <th scope="col">Dish</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
        </tr>
        <tr>
{% for food in foods %}
<!-- Can only see food that belongs to user who created it -->
{% if food.user_id == session.user_id %}
            <td><a href="/view/{{food.state}}">{{food.state}}</a></td>
            <td>{{food.restaraunt}}</td>
            <td>{{food.dish}}</td>
            <td>{{food.rating}}</td>
            <td>
                <a href="/view/food/{{food.id}}">View</a>
                <a href="/edit/food/{{food.id}}">Edit</a>
                <a href="/delete/{{food.id}}">Delete</a>
                <!-- {{user.username}} -->
            </td>
        </tr>
{% endif %}
{% endfor %}
    </table>
</body>
</html>