<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_state.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>View By State</title>
</head>
<body>
    <h2 class="title">FOODIES<span>ADVENTURE</span></h2>
    <div class="banner">
        <a href="/dashboard">Dashboard</a>
        <a href="/food/new">New Food?</a>
        <a href = "/logout">Logout</a> 
    </div>
    <h1>State: {{state}}</h1>
    <table class="table table-striped">
        <tr>
            <th scope="col">City:</th>
            <th scope="col">Restaraunt:</th>
            <th scope="col">Dish:</th>
            <th scope="col">Rating:</th>
        </tr>
{% for food in foods %}
        <tr>
            <td>{{food.city}}</td>
            <td>{{food.restaraunt}}</td>
            <td><a href="/view/food/{{food.id}}">{{food.dish}}</a></td>
            <td>{{food.rating}}</td>
            <!-- <td>{{food.updated_at}}</td> -->
        </tr>
{% endfor %}
    </table>
</body>
</html>