@import url("https://fonts.googleapis.com/css?family=Modak");
*{
    margin: 0 10px;
}
h2{
    text-align: center;
}
.title{
    border-style: solid;
    padding-right: 12px;
    padding-top: 3px;
    border-radius: 20px;
    font-family: Modak;
    color: rgb(67, 193, 252);
    border-color:black;
    -webkit-text-stroke: 1px black;
    background-color: rgb(233, 233, 134);
    text-align: right;
    margin-left: 80%;
    margin-top: 5px;
}
span{
    color: orange;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: right;
}
.form{
    margin: 20px 0;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    border-style: double;
    padding: 20px;
    background-color: lightgray;
}
label{
    margin-left: 10px;
}
input, textarea{
    border-radius: 5px;
    box-shadow: black 1px 2px;
}
.button{
    margin-left: 9px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 3px 7px;
    box-shadow: black 1px 2px;
}