@import url("https://fonts.googleapis.com/css?family=Modak");

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: rgb(233, 233, 134);
    border-radius: 10px;
    height: 100px;
    margin: 10px;
}
h1{
    font-family: Modak;
    color: rgb(67, 193, 252);
    font-size: 100px;
    font-weight: 100;
    -webkit-text-stroke: 2px black;
    padding-top: 14px;
}
.adventure{
    color: orange;
}
.links{
    display: flex;
    justify-content: right;
    margin : 10px
}
.body{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.textbox{
    text-align: center;
    width: 350px;
    height: 200px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 30px;
    
}
.imagebox{
    width: 700px;
    height: 700px;
    border-style: solid;
    border-radius: 10px;
    margin-right: 10px;
}
.homescreen{
    height: 700px;
    width: 700px;
}