@import url("https://fonts.googleapis.com/css?family=Modak");
*{
    margin: 0 10px;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
button{
    margin-top: 10px;
}
.register{
    background-color: rgb(67, 193, 252);
    align-items: center;
    border-style: solid;
    padding: 10px 20px;
    height: 500px auto;
    width: 300px;
    border-radius: 10px;
}
.login{
    background-color: orange;
    border-style: solid;
    padding: 10px 20px;
    height: 500px auto;
    width: 300px;
    border-radius: 10px;
}
.links{
    margin: 10px 20px;
    text-align: right;
}
form{
    text-align: center;
    padding: 20px;
}
h2{
    text-align: center;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: right;
}
.title{
    border-style: solid;
    padding-right: 12px;
    padding-top: 3px;
    border-radius: 20px;
    font-family: Modak;
    color: rgb(67, 193, 252);
    border-color:black;
    -webkit-text-stroke: 1px black;
    background-color: rgb(233, 233, 134);
    text-align: right;
    margin-left: 80%;
    margin-top: 5px;
}
span{
    color: orange;
}
body{
    background-image: url(../img/food_background.jpeg);
}
a{
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 400;
}